.pageContainer{
    font-family: 'Roboto Flex', sans-serif;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 2rem;
    text-align: center;
}

.messageBox {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.messageBox h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.messageBox img {
    max-width: 100px;
    height: auto;
    margin-bottom: 1rem;
}

.messageBox p {
    font-size: 1.2rem;
    color: #555;
}
