.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0px;
    flex-wrap: wrap-reverse;
    /*background-color: #00235b;*/
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100;
    /*border: 1px solid black;*/
}

.navSection {
    flex: 1;
    display: flex;
    padding: 0 2%;
}
.navSection:first-of-type{
    justify-content: flex-start;
}
.navSection:last-of-type{
    justify-content: flex-end;
    margin-left: auto;
}
.navLinks{
    display: flex;
    gap:25px;
    list-style: none;
}

.navLinks li{
    display: flex;
    align-items: center;
}

.navLinks li a{
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.navLinks li a:hover{
    color: #007bff
}

.logoContainer{
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImage{
    height: 5vw;
    width: auto;
}

.signInButton{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.40vw;
    font-weight: 500;
    background-color: #e21818;
    color: white;
    border-radius: 30px;
    border: 3px solid white;
    padding: 7px 25px;
    cursor: pointer; /* Show pointer on hover */
    vertical-align: middle;
}

.signInButton:hover{
    border: 3px solid #e21818;
    color: #e21818;
    background-color: white;
    transition: color 0.3s ease;
}
