/* NewsPageElement.module.css */
.newsContainer {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.newsContainer:hover {
    transform: scale(1.015);
}

.newsImageContainer {
    flex: 0 0 150px; /* Fixed width for the image container */
    height: 150px; /* Fixed height for the image container */
    overflow: hidden; /* Ensure the image fits within the container */
    border-radius: 8px;
}

.newsImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
}

.noImage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    border-radius: 8px;
    font-size: 0.9rem;
    color: #888;
}

.newsTextContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newsTitle {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.newsDetails {
    font-size: 1rem;
    color: #555;
}
